---
layout: default
---

<div class="home">

  <h1 class="page-heading">Article</h1>

  <hr><br />
  <div class="category-list">
    {% for category in site.categories %}
      <h2>{{ category | first }}</h2>
      <ul class="post-list">
        {% for post in category.last %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            ------{{ post.date | date: "%b %-d, %Y" }}
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
  <hr><br />

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
